.row
    .col-md-6
        form(id="scanform")
                
            .form-group
                .row
                    legend.col-form-label.col-sm-5.pt-0
                        | Tuner configuration

            if scan_status == 1
                .form-group.row
                    label.col-sm-2.col-form-label(for="TunnerListSelect")
                        | Tuner
                    .col-sm-10
                        select.form-control.form-control-sm(id="TunnerListSelect", disabled)
                            - each j in tuner_list
                                option(value="#{j}")
                                    | #{j}
                .form-group.row
                    label.col-sm-2.col-form-label(for="inputSat")
                        | Satellite
                    .col-sm-10
                        select.form-control.form-control-sm(id="SatListSelect", disabled)
                            - each i in sat_list
                                option(value="#{i}")
                                    | #{i}
                button.btn.btn-primary.btn-sm.scan-button(id="tunerStatusButton", disabled)
                    |  Scanning... 
                    span.spinner-border.spinner-border-sm.scan-spinner(role="status" aria-hidden="true" id="SpinnerScaning")
            else
                .form-group.row
                    label.col-sm-2.col-form-label(for="TunnerListSelect")
                        | Tuner
                    .col-sm-10
                        select.form-control.form-control-sm(id="TunnerListSelect")
                            - each i in tuner_list
                                option(value="#{i}")
                                    | #{i}
                .form-group.row
                    label.col-sm-2.col-form-label(for="inputSat")
                        | Satellite
                    .col-sm-10
                        select.form-control.form-control-sm(id="SatListSelect")
                            - each i in sat_list
                                option(value="#{i}")
                                    | #{i}   
                button.btn.btn-primary.btn-sm.scan-button(id="tunerStatusButton")
                    |  Start Scan
        .alert.alert-warning.alert-dismissible.fade.show(id="scan-alert", role="alert", hidden)
            strong
                | Scan started !
                button.close(type="button", class="close", data-dismiss="alert", aria-label="Close")
                    span(aria-hidden="true")
                        |&times;   
    .col-md-6
        .form-group
            label(for="")
                | Scan log
            textarea(class="form-control", id="scan-log", cols="30", rows="10", readonly)




